<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Todo List</title>
    <!-- bulma docs: http://bulma.io/documentation/overview/start/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

<div id="app" class="container">

 <div class="column is-half is-offset-one-quarter content">

  <section>

<!--  New Todo Card -->
    <div v-for="item in items" :class='card'>
        <div class='card-header'>
          <p class='card-header-title' :class="{'card-header-hide' : editingItem != true}" >{{ item.titleContent }}</p>
          <input type='text' :class="{'card-header-title' : editingItem != true}" v-model="item.titleContent"></input>
        </div>
        <div class='card-content'>
          <p :class="{'hide' : editingItem != true}">{{ item.cardContent }}</p>
          <input type='text' v-model="item.cardContent" :class="{'card-header-title' : editingItem != true}"></input>
        </div>
        <footer class="card-footer">
          <a class="card-footer-item" @click="editingItem = !editingItem">{{ editingItem ? 'Edit' : 'Save'}}</a>
          <a class="card-footer-item" @click="remove(card)">Done</a>
        </footer>

    </div>

  </section>


<!--Typing area for new cards -->
        <section>
          <label class="label">New Todo</label>
          <div class="control is-grouped">
            <div class="control is-expanded">
              <input type="text" class="input" placeholder="Todo Item Title" v-model="todoTitle"/>
            </div>

            <!--Creates Card -->
            <div class="control">
              <a class="button is-primary" @click="newToDo">Create</a>
            </div>
          </div>
          <div class="control">
            <textarea class="textarea" placeholder="Todo item content" v-model="todoContent"></textarea>
          </div>
          <div class="control">
            <!-- Only visible if we are editing -->
            <a class="button cancel" :class="{ 'visible' : todoTitle != '' || todoContent != ''}" @click="cancel">Cancel</a>
          </div>
        </section>

 </div>

</div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
